.menuBtn{
    display: none !important;
}

@media (max-width:790px) {
    .titleCateg{
        font-size: 12px;
    }
}


@media (max-width:500px) {
    .menuBtn{
        display: flex !important;
    }
    .menuBar{
        position: fixed;
        z-index: 100;
        left: 20px;
    }
    .leftBlok{
        display: none !important;
    }
    .active{
        position: fixed !important;
        width: 100% !important;
        height: 300px !important;
        margin-top: 50px;
    }
    .blok{
        display: none;
    }
    .products{
        margin-top: 30px;
    }
}